@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        color: #fff;
        background: #000;
    }
}

@layer components {
    .menuLink {
        @apply cursor-pointer hover:text-[#c5c5c5];
    }

    .tags {
        background: #0abde3; /* Main tag color */
        margin-right: 0.5rem; 
        margin-top: 0.5rem;
        padding: 3px 10px;
        display: inline-block;
        color: #fff;
        font-size: 12px;
        border-radius: 5px; /* Optional: rounded corners */
    }

    .tags:nth-child(2) {
        background: #a55eea;
    }

    .tags:nth-child(3) {
        background: #db9f10;
    }

    .tags:nth-child(4) {
        background: #a55eea;
    }
}
